@font-face{
	font-family: "NeueMontreal";
	src: url("font/NeueMontreal.woff") format("woff");
	src: url("font/NeueMontreal.woff2") format("woff2"),
}

* 						{ box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
html					{ font-family: "NeueMontreal", sans-serif; }
html,body			{ width: 100%; -ms-overflow-x: hidden; overflow-x: hidden; }
body					{ margin: 0; background: #1d1d1e; color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
h1, h2, p, a		{ margin: 0; font-weight: 400; text-decoration: none; }
h1 					{ font-size: 96px; line-height: 105%; margin-bottom: 16px; }
h2 					{ font-size: 72px; line-height: 105%; }
h2 span 				{ color: #ECB0C1; }
p						{ font-size: 48px; line-height: 115%; margin-bottom: 16px; }
hr 					{ display: block; width: 100%; height: 64px; border: none; }

ul#menu						{ display: block; margin: 0; padding: 0; list-style: none; position: absolute; top: 64px; left: 64px; z-index: 1; }
ul#menu li 					{ font-size: 24px; line-height: 105%; margin: 0 0 16px 0; }
ul#menu li a 				{ text-decoration: underline; color: #fff; transition: all 150ms ease; }
ul#menu li a:hover		{ opacity: 0.8; transition: all 120ms ease; }
ul#menu li a:active		{ opacity: 0.8; transition: all 120ms ease; }

main 							{ margin: 64px auto; display: block; width: 640px; }

header 						{ display: block; width: 100%; }
header img, header svg	{ float: left; width: 312px; }
#avatar 						{ border: 6px solid #fff; margin-right: 16px; }
#grid 						{ stroke: #fff; stroke-width: 6px; }

footer span 				{ background: -webkit-linear-gradient(3deg, #1AECDF, #E233FF); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: #1AECDF; font-size: 24px; }

@media(max-width: 1023px){

	ul#menu 							{ position: static; top: auto; left: auto; margin: 0 auto 64px auto; }
	ul#menu li 						{ display: inline; margin: 0 16px 0 0; }
	header img, header  svg 	{ width: 49%; height: 49%; }
	#avatar 							{ margin-right: 2%; }

}

@media(max-width: 767px){

	main 		{ width: 100%; padding: 0 16px; }
	#grid 	{ stroke-width: 10px; }

	ul#menu 						{ margin-bottom: 40px; }

	main 							{ margin: 40px 0; }
	h1 							{ font-size: 72px; margin-bottom: 16px; }
	h2 							{ font-size: 48px; }
	p								{ font-size: 32px; margin-bottom: 16px; }
	ul#menu li, footer span { font-size: 24px; }
	hr  							{ height: 40px; }

}

@media(max-width: 380px){

	#avatar 	{ border-width: 4px; }
	#grid 	{ stroke-width: 6px; }

	ul#menu 						{ margin-bottom: 24px; }

	main 							{ margin: 24px 0; }
	h1 							{ font-size: 56px; margin-bottom: 8px; }
	h2 							{ font-size: 32px; }
	p								{ font-size: 21px; margin-bottom: 8px; }
	ul#menu li, footer span { font-size: 17px; }
	hr  							{ height: 24px; }

	h1, h2, p, a		{ letter-spacing: 0.2px; }

}